* {
    box-sizing: border-box;
}
body {
    background-color: #621402;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.container {
    max-width: 1170px;
    margin: auto;
    width: 90%;
}
.header {
    padding-bottom: 60px;
    background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url("../img/bg.jpg") no-repeat center top / cover;
}
.m-menu {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.nav {
    position: relative;
}
.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: 17px;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.menu-item {
    margin-right: 25px;
}

.avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 11px;
}

.user {
    margin-left: auto;
    color: #fff;
    display: flex;
    align-items: center;
}

.film {
    margin-top: 60px;
    color: #fff;
    display: flex;
    align-items: center;
}
.film-title-small {
    opacity: 0.5;
    font-size: 24px;
    line-height: 150%;
}
.film-title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 11px;
    margin-bottom: 23px;
}
.film-description {
    font-size: 16px;
    line-height: 150%;
    max-width: 570px;
}
.film-trailer {
    margin: auto;
}
.film-details {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.time {
    display: flex;
    align-items: center;
}
.time-icon {
    margin-right: 14px;
}
.rating {
    display: flex;
    align-items: center;
    margin-left: 34px;
}
.rating-icon {
    margin-right: 14px;
}
.rating-current {
    font-size: 24px;
    line-height: 150%;
}
.session {
    margin-top: 62px;
    padding-top: 46px;
    padding-bottom: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.session-label {
    display: block;
    margin-bottom: 20px;
}
.session-date-block {
    display: flex;
    order: 1;
}
.session-date-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: background-color 0.3s;
}
.session-time {
}
.session-month {
    font-size: 16px;
    line-height: 19px;
}
.session-day {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}
.session-week {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}
.session-date-item:hover {
    background-color: #fe8e05;
    color: #621402;
}
.select {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #fff;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    cursor: pointer;
    margin-top: 15px;
}
.option {
    color: black;
}
.select-cinema {
    width: 470px;
}
.select-time {
    min-width: 108px;
}
.scheme {
    margin-bottom: 40px;
    background: rgba(36, 36, 36, 0.18);
    border-radius: 10px;
}
.scheme-svg {
    max-width: 1170px;
}
.scheme path:not(.light) {
    fill: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.scheme path:not(.light):hover {
    fill: rgba(255, 255, 255, 0.5);
}
.scheme path.booked,
.scheme path.booked:hover {
    fill: rgba(255, 255, 255, 0.05);
    cursor: not-allowed;
}
.scheme path.active,
.scheme path.active:hover {
    fill: #fe8e05;
}
.legend {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 1024px;
    margin: auto;
    width: 90%;
    padding-top: 22px;
    padding-bottom: 38px;
}
.svg-free {
    max-width: 39px; 
    max-height: 32px;    
}
.svg-active {
    max-width: 39px; 
    max-height: 32px; 
}
.svg-booked {
    max-width: 39px; 
    max-height: 32px;
}

.legend-label {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.5);
}
.legend svg {
    margin-right: 15px;
}
.price {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-label {
    display: block;
    font-size: 18px;
    line-height: 21px;
}
.price-tag {
    font-size: 52px;
    line-height: 61px;
}
.money {
    margin-bottom: 0px;
}
.button {
    background: #fe8e05;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    padding: 24px 52px;
    text-decoration: none;
   
}
@media (max-width: 1304px) {
    .container {
        max-width: 1060px;
    }
    .select-cinema {
        width: 100%;
    }
}
@media (max-width: 1170px) {
    .container {
        max-width: 750px;
    }
    .session {
        flex-wrap: wrap;
    }
    .session-date {
        flex-basis: 70%;
        margin-bottom: 40px;
    }
    .session-time {
        order: 2;
    }
    .session-cinema {
        order: 3;
    }
    .menu-item {
        margin-right: 20px;
    }
}
@media (max-width: 860px) {
    .container {
        max-width: 560px;
    }
    .menu {
        position: absolute;
        left: 0;
        top: 40px;
        padding: 20px;
        margin-left: 20px;
        flex-direction: column;
        background-color: #621402;
        z-index: 9;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100px);
        transition: opacity 0.5s, transform 0.5s;
    }
    .menu-item:not(:last-child) {
        margin-bottom: 7px;
    }
    .m-menu {
        display: block;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        cursor: pointer;
    }
    .is-open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .film-description {
        margin-right: 30px;
    }
    .film {
        flex-direction: column;
    }
    .film-trailer {
        margin-right: auto;
        margin-left: 0;
        margin-top: 10px;
    }
}
@media (max-width: 635px) {
    .container {
        max-width: 450px;
    }
    .session-cinema {
        margin-top: 0px;
    }
    .legend {
       
    }
   
    
}
@media (max-width: 504px) {
    .container {
        max-width: 350px;
    }
    .legend {
        
    }
    .user-hello {
        margin-left: 50px;
    }
    .session-cinema {
        margin-top: 30px;
    }
    .session-date {
        width: 270px;
    }
    .button {
        padding: 14px 18px;
    }
    .button-text {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .price-label {
        font-size: 16px;
    }
    .price-total {
        margin-top: 0px;
        font-size: 40px;
    }
    .ruble {
        font-size: 40px;
    }
}
@media (max-width: 392px) {
    .container {
        max-width: 250px;
    }
    .button {
        padding: 5px 5px;
        font: 16px;
    }
    .button-pay {
        font: 15px;
    }
    .button-text {
        font: 50px;
    }
    .legend {
        font: 20px;
        width: 500px;
        margin-right: 500px;
    }
}
